/* 
Global styles 
*/

@mixin large-screen {
    @media (min-width: 768px) { @content; }
}

@mixin small-screen {
    @media (max-width: 768px) { @content; }
}


/* Overwrites btn class of materialize-css. Do not change to button. */
.btn { 
    width: 15em;
    height: 3rem;
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

// Watch out! container conflicts with materialize-css class
.top-container { 
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    padding: 0 2em;

    @include large-screen {
        grid-template-rows: none;
        grid-template-columns: 3fr 2fr;
    }

    @include small-screen {
        &--results {
            grid-template-rows: 1fr 1fr;
        }
    
        &--menu {
            grid-template-rows: 2fr 4fr;
        }
    
        &--court {
            grid-template-rows: 5fr 2fr;
        }
    }
}

.text-container {
    @include large-screen {
        display: grid; 
        grid-template-rows: 1fr 2fr;
    }

    justify-items: center;
}

.button-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center center;
    height: 100%;
    padding: 2em 10%;

    &--2-buttons {
        grid-template-rows: 1fr 1fr;
    }
    
    @include large-screen {
        &--2-buttons {
            grid-template-rows: 1fr 1fr 1fr 1fr;

            & button:first-of-type, a:first-of-type {
                grid-row: 2;
            }
            & button:last-of-type, a:last-of-type {
                grid-row: 3;
            }
        }

        justify-self: start;
    }
}

@include small-screen {
    .hide-on-small {
        display: none;
    }
}
// #menu-text {
//     align-self: center;
// }

// #menu-text h1 { 
//     font-size: 2rem; 
//     padding: 0 1rem;
// }
// #menu-text p { display: none}
// #menu-buttons { 
//     display: grid;
//     grid-template-rows: 1fr 1fr 1fr 1fr;
//     place-items: center center;
//     height: 80%;
// }


// /* On desktop */
// @media screen and (min-width: 768px) {
    
//     #menu-text { 
//         display: grid; 
//         grid-template-rows: 1fr 2fr
//     }
//     #menu-text h1 { 
//         align-self: end; 
//         padding: 0 1rem
//     }
//     #menu-text p { 
//         display: block; 
//         padding: 0 5rem; 
//         align-self: start; 
//         text-align: left
//     }
//     #menu-buttons { 
//         justify-self: left;
//         place-items: center left; 
//         padding: 10% ; 
//         height: 100%
//     }
// }