// 
// Mixins
// 

@mixin large-screen {
    @media (min-width: 768px) { @content; }
}

@mixin small-screen {
    @media (max-width: 768px) { @content; }
}



// 
// Elements
// 

html {
    font-size: unset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: inherit;
    }
}



// 
// Classes
// 

.green {
 background-color: #4caf50;
}

.red {
    background-color: #f44336;
}

.orange {
    background-color: #ff9800;
}

.blue {
    background-color: #2196f3;
}

.purple {
    background-color: #9c27b0;
}

.lighten {
    opacity: .3;
}

.button-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center center;
    height: 100%;
    padding: 2em 10%;

    &__2-buttons {
        grid-template-rows: 1fr 1fr;
    }
    
    @include large-screen {
        &__2-buttons {
            grid-template-rows: 1fr 1fr 1fr 1fr;

            & button:first-of-type, a:first-of-type {
                grid-row: 2;
            }
            & button:last-of-type, a:last-of-type {
                grid-row: 3;
            }
        }

        justify-self: start;
    }
}

.menu {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    height: 100vh;

    &__button {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 1.1rem;
        color: white;
    } 

    &__text {
        font-size: 2rem;
        font-weight: 400;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        margin-top: -32px;
        transform: translateX(-127px);
    }
}

.court {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: #eceff1 ;

    @include large-screen {
        grid-template-rows: none;
        grid-template-columns: 3fr 2fr;
    }

    @include small-screen {
        grid-template-rows: 4fr 1fr;
    }

    &__action {
        display: grid;
        grid-template-rows: 1fr 4fr;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 5vw 10vh 5vw;
    }
    
    &__board {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    &__button-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center center;
        height: 100%;
        width: 100%;

        @include small-screen {
            grid-template-rows: none;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__button {
        height: 100%;
        width: 100%;
    }

    &__position-circle {
        transition: opacity 150ms ease-in-out;
        height: 20vh;
        width: 20vh;
        border-radius: 100%;

        @include small-screen {
            height: 25vw;
            width: 25vw;
        }
    }
}

.ready {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 2em;
    color: white;
}

.top-container {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;

    @include large-screen {
        grid-template-rows: none;
        grid-template-columns: 3fr 2fr;
    }

    @include small-screen {
        &__results {
            grid-template-rows: 1fr 1fr;
        }
    }
}
