.court {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 60% 15% 10%;
    align-items: center;
    justify-items: center;
}

@media (max-height: 500px) and (min-aspect-ratio: 16/10) {
    .court {
        grid-template-rows: 20% 75%;
        grid-template-columns: 70% 25%;
    }

    .court-buttons {
        grid-column: 2;
        grid-row: 1/3;
    }
}